i {
      color: #c0c0c0;
      font-size: 2.4rem;
}

.fa-facebook-f:hover {
      color: #3b5998;
}

.fa-twitter:hover {
      color: #00acee;
}

.fa-instagram:hover {
      color: #cd486b;
}

.fa-linkedin-in:hover {
      color: #0e76a8;
}

.fa-github:hover {
      color: #6e5494;      
}

.fa-envelope:hover {
      color: #ffce00;
}